@import mixin
$hneda: #856559
$hneda-r: 133
$hneda-g: 101
$hneda-b: 89
$hneda-tmavsi: #6f544a
$hneda-tmava: #372a25
$hneda-radek: #e8deda
body
    color: $hneda-tmava
    background: #f4f3f4
    font-family: "Open Sans";
    letter-spacing: 1px
    
a
    color: $hneda-tmavsi

a:hover
    color: $hneda-tmava
    text-decoration: none    

h1
    color: $hneda
    font-size: 33px
    font-weight: 300

h2
    color: $hneda
    font-size: 23px

.btn, button.btn
    border: 2px solid $hneda
    color: $hneda
    font-weight: 300
    margin-top: 10px
    +prefixy(transition,.2s ease all)
    background-color: transparent
    
.btn:hover
        background: $hneda
        color: #fff

.login-block
    width: 100%
    height: 30px
    text-align: right
    ul 
        margin: 0
        li
            float: left
            list-style: none
            a,button
                background: transparent
                border: 0
                display: block
                line-height: 30px
                padding: 0 5px
                color: #fff
                +prefixy(transition,.2s ease background)
                &:hover
                    background: rgba(255,255,255,0.2)

#home header
    width: 100%
    min-height: 500px
    
    .uvodni-text
        color: #fff
        font-weight: 300
        font-size: 23px
        text-align: center
        position: relative
        margin-top: 80px
        display: block
        
    .vyvolat .btn
        color: #fff
        border: 2px solid #fff
        border-radius: 4px
        text-align: center
        margin-top: 100px
        font-size: 20px
        font-weight: 300
        letter-spacing: 3px
        text-transform: uppercase
        +prefixy(transition,.2s ease background)
    
    .vyvolat .btn:hover
            background: rgba(255,255,255,0.3)
   
header
    min-height: 80px
    background: url("../img/cover.jpg") center
    
    .uvodni-text
        display: none
    
nav
    width: 100%
    height: 80px

    .logo
        height: 80px
        line-height: 80px

    li
        list-style: none
        float: left
        
        a
            color: #fff
            display: block
            font-size: 20px
            margin: 28px 0px 0px 20px
            +prefixy(transition,.2s ease border)
            font-weight: 300
            text-transform: uppercase
            letter-spacing: 2px
            border-bottom: 2px solid transparent
            
        a:hover
            border-bottom: 2px solid #fff
            color: #fff

.hlavni-navigace
    display: block
.mobilni-navigace
    display: none

main
    margin: 30px 0;

//ČLÁNKY

.clanek
    .col-md-6
        padding: 0
    h1, p
        padding: 15px 
    p
        line-height: 180%
    .info
        padding: 3px 15px
        span
            margin-right: 8px
        .fa
            margin-right: 5px
            
            
    .uvodni-img
        background-position: center
        +prefixy(background-size,cover)
        width: 100%
        height: 400px
        
        a
            width: 100%
            height: 400px
            display: block
    
    .cist-dale
        float: right;
        margin-right: 15px
        
.clanek:nth-child(odd)
    .fotografie
        float: left
.clanek:nth-child(even)
    .fotografie
        float: right
    h1, p, .info
        padding-left: 0px
//DETAIL ČLÁNKU
#clanek .uvod-clanku
    text-align: center
    .fa
        padding-right: 5px
    span
        padding-right: 8px
#clanek
    img
        float: left
        width: 50%
        padding-right: 20px
        padding-bottom: 20px
    .obsah
        margin-top: 20px
 
// FOTOGRAFIE

main#nahrani
    margin-top: 10px

.kroky
    width: 100%
    min-height: 40px
    background: $hneda
    color: #fff
    
    ul
        padding: 0
        
        li
            list-style: none
            float: left
            display: block
            line-height: 40px
            padding: 0 10px
            margin-right: 5px
            cursor: default
            +prefixy(transition, .2s background)
            &:hover
                background: $hneda-tmavsi  
            
            a
                background: $hneda-tmavsi
                color: #fff
                line-height: 40px
                display: block
                padding: 0 10px
                +prefixy(transition, .2s background)
                &:hover
                    background: $hneda-tmava
    
            span
                font-weight: bold
    
        li.aktivni
            padding: 0
            
#nahrani
    .fileupload-buttonbar .btn
        line-height: 30px
        width: 24.3%
        font-size: 20px
    table
        td
            vertical-align: middle
        .btn
            margin-top: 0
            margin-bottom: 0
            &.cancel
                margin-right: 10px
    .btn
        border-radius: 0
        
    .napoveda
        margin-top: 10px
        color: #fff
        &.row
            margin-left: 0px
            margin-right: 0px
            
        .formaty
            min-height: 260px
            background: $hneda
            margin-right: 5px
            width: 49%
            font-weight: 300
            .ikona
                max-height: 90px
                
        .postup
            min-height: 260px
            background: $hneda
            margin-left: 5px
            
            a
                color: #fff
                text-decoration: underline
                &:hover
                    text-decoration: none
        h2
            font-weight: 500
            font-size: 19px
            color: #fff
        h3
            font-size: 17px
            font-weight: 500
        
    .prihlasit
        font-weight: bold
        color: #fff
        padding: 15px
        background: $hneda
        margin: 10px 0px
        
        .btn
            background: #fff
            color: $hneda-tmava
            display: block
            padding: 5px
            font-size: 12px
            margin-top: -5px
            
.pokracovat.btn
    margin-right: 18px
    
.progress-bar-hneda
    background-color: $hneda!important
//PATIČKA

footer
    height: 200px
    background: $hneda
    padding-top: 50px
    
    .foot-navigace 
        ul
            padding: 0
        li
            list-style: none
        a
            color: #fff
            line-height: 180%
            font-size: 20px
            border-bottom: 2px dotted transparent
            +prefixy(transition,.2s ease border-color)
        a:hover
            color:#fff
            border-bottom: 2px dotted #fff

//PARAMETRY
#parametry
    
    .fotky
        margin: 20px 0px 50px 0px    
    
    .fotka
        min-height: 150px
        &:nth-child(even)
            background: $hneda-radek
        &:nth-child(odd)
            background: transparent
        
        .miniatura
            line-height: 150px
            
        .row
            margin-left: 0
            margin-right: 0
        .miniatura
            text-align: center
        img
            height: 110px
            max-width: 170px
    
        .parametr
            height: 30px
        
        .parametry-inputy
            padding-top: 35px
            
        .cena
            line-height: 150px
    
    .celkem
        height: 40px
        margin: 10px 18px
        text-align: right
        font-weight: 700
        color: $hneda
//KOŠÍK

#kosik, #udaje, #odeslat
    .kroky
        margin-bottom: 30px
    table
        width: 100%
        text-align: center
        vertical-align: middle
        margin-bottom: 30px
        thead
            color: $hneda
            border-bottom: 2px solid $hneda
            th
                text-align: center
                padding: 10px 0
                
        tbody
            td
                img
                    max-height: 100px
                    max-width: 220px
                    padding: 5px 0
                &.cena
                    font-weight: bold
            tr:nth-child(even)
                background: $hneda-radek
            tr:nth-child(odd)
                background: transparent
                
            tr:last-child
                border-bottom: 2px solid $hneda
        tfoot
            td
                padding: 10px 0
            .celkem
                font-weight: bold
            
            tr:last-child
                border-top: 1px dotted $hneda
            tr:first-child
                border-top: 3px solid $hneda
//ÚDAJE

.udaje-blok
    .form-group
        .vedle
            width: 49%
        .vedle.leva
            float: left
            margin-right: 10px

    input:focus
        -webkit-box-shadow: 0 0 10x 0px #856559
        box-shadow: 0 0 10px 0px #856559
        border: 1px solid $hneda

#udaje 
    .platba_doruceni
        border-top: 1px dotted $hneda
        
    .o_zakaznikovi
        border-top: 1px dotted $hneda
        margin-top: 30px

//ODESLAT

#odeslat
    .dekujeme
        font-size: 25px
        color: #8BC34A
    .udaje-blok
        ul
            padding: 0
        li
            list-style: none
//LOGIN
#login
    .login_blok 
        background: #fff
        width: 390px
        height: 310px
        position: fixed
        font-family: 'Open Sans'
        list-style: none
        top: 50%
        left: 50%
        +prefixy(transform,translate(-50%, -50%))
            
        li
            list-style: none
    
    
    .blok_text
        padding: 0 40px
        position: relative
    
        h1 
            font-size: 45px
            padding-bottom: 10px
            padding-top: 10px
            text-align: center
    
        p
            font-size: 12px
            padding-bottom: 10px
            line-height: 25px
    
        
    
    form input[type=text], form input[type=password] 
        width: 100%
        height: 40px
        margin-bottom: 10px
        padding-left: 15px
        background: #fff
        border: none
        border-bottom: 1px solid $hneda-tmavsi
        color: $hneda-tmava
        outline: none
    
    .button 
        border: none
        display: block
        background: $hneda
        text-transform: uppercase
        height: 80px
        width: 100%
        position: absolute
        bottom: 0
        color: #fff
        text-align: center
        cursor: pointer
        +prefixy(transition,0.3s ease background)
        outline: 0
        margin-top: 20px
    
    .button:hover 
    	background: $hneda-tmavsi
    
    .button:active 
    	background: $hneda-tmavsi
    
    
    ::-webkit-input-placeholder
    	color: $hneda
    
    :-moz-placeholder 
    	color: $hneda
    
    ::-moz-placeholder 
    	color: $hneda
    
    :-ms-input-placeholder 
    	color: $hneda
    
    .err 
        color: $hneda
        text-align: center
        margin: 5px auto
        display: block
        min-height: 16px
        font-style: italic
        
@media (max-width:500px)    
    #login
        .login_blok
            width: 100%
            top: 145px
        
        .login_formular
            background: $hneda
            width: 100%
            height: 100vh
            margin: 0px!important
            position: relative
             
        .button
            height: 50px
            background: $hneda
            
        
        .button:hover, .button:active
            background: $hneda-tmavsi
        
        .container
            padding: 0
    
        .blok_text h1 
            font-size: 30px
            padding-bottom: 10px
            padding-top: 20px
            text-align: center
            margin-top: 0px


//RESPONZIVITA
@media screen and (min-width: 992px) and (max-width: 1199px)
    #nahrani .napoveda .postup
        margin-left: 0
    
@media screen and (max-width: 991px)
    .clanek:nth-child(even)
        h1, p, .info
            padding-left: 15px
    .kroky, .napoveda
        display: none
    #nahrani
        .fileupload-buttonbar .btn
            font-size: 15px
            
@media screen and (max-width: 730px)
    #home header
        min-height: 100px
        .intro
            display: none
        .vyvolat
            display: block
            .btn
                margin-top: 10px
                margin-bottom: 20px
        .uvodni-text
            margin: 0
        
    .mobilni-navigace
        display: block
        
        li
            list-style: none
            float: none
            text-align: center
            width: 100%
            
            a
                width: 100%
                display: block
                padding: 15px 0px
                color: #fff
                font-size: 22px
                font-weight: 300
                border-bottom: 1px dotted #fff
                
        li:last-child a
                border-bottom: 0px
        ul
            padding: 0
            
    .hlavni-navigace
        display: none
    .mobilni-nav-tlacitko
        font-size: 50px
        color: #fff
        right: 10px
        top: 35px
        position: absolute
    
    .mobilni-nav-tlacitko:hover
        color: #fff
            
    header
        min-height: 80px

@media screen and (max-width: 670px)
    #nahrani
        .fileupload-buttonbar .btn
            font-size: 15px
            min-width: 160px