@charset "UTF-8";
/* line 8, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
body {
  color: #372a25;
  background: #f4f3f4;
  font-family: "Open Sans";
  letter-spacing: 1px; }

/* line 14, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
a {
  color: #6f544a; }

/* line 17, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
a:hover {
  color: #372a25;
  text-decoration: none; }

/* line 21, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
h1 {
  color: #856559;
  font-size: 33px;
  font-weight: 300; }

/* line 26, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
h2 {
  color: #856559;
  font-size: 23px; }

/* line 30, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.btn, button.btn {
  border: 2px solid #856559;
  color: #856559;
  font-weight: 300;
  margin-top: 10px;
  -webkit-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  background-color: transparent; }

/* line 38, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.btn:hover {
  background: #856559;
  color: #fff; }

/* line 42, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#home header {
  width: 100%;
  min-height: 500px; }
  /* line 46, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .uvodni-text {
    color: #fff;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    display: block; }
  /* line 55, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .vyvolat .btn {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: 0.2s ease background;
    -ms-transition: 0.2s ease background;
    -moz-transition: 0.2s ease background;
    -o-transition: 0.2s ease background;
    transition: 0.2s ease background; }
  /* line 67, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .vyvolat .btn:hover {
    background: rgba(255, 255, 255, 0.3); }

/* line 70, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
header {
  min-height: 80px;
  background: url("../img/cover.jpg") center; }
  /* line 74, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header .uvodni-text {
    display: none; }

/* line 77, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
nav {
  width: 100%;
  height: 80px; }
  /* line 81, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  nav .logo {
    height: 80px;
    line-height: 80px; }
  /* line 85, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  nav li {
    list-style: none;
    float: left; }
    /* line 89, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    nav li a {
      color: #fff;
      display: block;
      font-size: 20px;
      margin: 28px 0px 0px 20px;
      -webkit-transition: 0.2s ease border;
      -ms-transition: 0.2s ease border;
      -moz-transition: 0.2s ease border;
      -o-transition: 0.2s ease border;
      transition: 0.2s ease border;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: 2px solid transparent; }
    /* line 100, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    nav li a:hover {
      border-bottom: 2px solid #fff;
      color: #fff; }

/* line 104, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.hlavni-navigace {
  display: block; }

/* line 106, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.mobilni-navigace {
  display: none; }

/* line 109, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
main {
  margin: 30px 0; }

/* line 115, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .col-md-6 {
  padding: 0; }

/* line 117, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek h1, .clanek p {
  padding: 15px; }

/* line 119, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek p {
  line-height: 180%; }

/* line 121, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .info {
  padding: 3px 15px; }
  /* line 123, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .info span {
    margin-right: 8px; }
  /* line 125, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .info .fa {
    margin-right: 5px; }

/* line 129, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .uvodni-img {
  background-position: center;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px; }
  /* line 135, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .uvodni-img a {
    width: 100%;
    height: 400px;
    display: block; }

/* line 140, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .cist-dale {
  float: right;
  margin-right: 15px; }

/* line 145, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(odd) .fotografie {
  float: left; }

/* line 148, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(even) .fotografie {
  float: right; }

/* line 150, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(even) h1, .clanek:nth-child(even) p, .clanek:nth-child(even) .info {
  padding-left: 0px; }

/* line 153, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek .uvod-clanku {
  text-align: center; }
  /* line 155, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #clanek .uvod-clanku .fa {
    padding-right: 5px; }
  /* line 157, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #clanek .uvod-clanku span {
    padding-right: 8px; }

/* line 160, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek img {
  float: left;
  width: 50%;
  padding-right: 20px;
  padding-bottom: 20px; }

/* line 165, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek .obsah {
  margin-top: 20px; }

/* line 170, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
main#nahrani {
  margin-top: 10px; }

/* line 173, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.kroky {
  width: 100%;
  min-height: 40px;
  background: #856559;
  color: #fff; }
  /* line 179, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .kroky ul {
    padding: 0; }
    /* line 182, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .kroky ul li {
      list-style: none;
      float: left;
      display: block;
      line-height: 40px;
      padding: 0 10px;
      margin-right: 5px;
      cursor: default;
      -webkit-transition: 0.2s background;
      -ms-transition: 0.2s background;
      -moz-transition: 0.2s background;
      -o-transition: 0.2s background;
      transition: 0.2s background; }
      /* line 191, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li:hover {
        background: #6f544a; }
      /* line 194, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li a {
        background: #6f544a;
        color: #fff;
        line-height: 40px;
        display: block;
        padding: 0 10px;
        -webkit-transition: 0.2s background;
        -ms-transition: 0.2s background;
        -moz-transition: 0.2s background;
        -o-transition: 0.2s background;
        transition: 0.2s background; }
        /* line 201, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
        .kroky ul li a:hover {
          background: #372a25; }
      /* line 204, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li span {
        font-weight: bold; }
    /* line 207, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .kroky ul li.aktivni {
      padding: 0; }

/* line 211, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .fileupload-buttonbar .btn {
  line-height: 30px;
  width: 24.3%;
  font-size: 20px; }

/* line 216, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani table td {
  vertical-align: middle; }

/* line 218, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani table .btn {
  margin-top: 0;
  margin-bottom: 0; }
  /* line 221, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani table .btn.cancel {
    margin-right: 10px; }

/* line 223, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .btn {
  border-radius: 0; }

/* line 226, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .napoveda {
  margin-top: 10px;
  color: #fff; }
  /* line 229, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda.row {
    margin-left: 0px;
    margin-right: 0px; }
  /* line 233, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .formaty {
    min-height: 260px;
    background: #856559;
    margin-right: 5px;
    width: 49%;
    font-weight: 300; }
  /* line 240, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .postup {
    min-height: 260px;
    background: #856559;
    margin-left: 5px; }
    /* line 245, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #nahrani .napoveda .postup a {
      color: #fff;
      text-decoration: underline; }
      /* line 248, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #nahrani .napoveda .postup a:hover {
        text-decoration: none; }
  /* line 250, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda h2 {
    font-weight: 500;
    font-size: 19px;
    color: #fff; }
  /* line 254, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda h3 {
    font-size: 17px;
    font-weight: 500; }

/* line 259, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.pokracovat.btn {
  margin-right: 18px; }

/* line 262, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.progress-bar-hneda {
  background-color: #856559 !important; }

/* line 266, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
footer {
  height: 200px;
  background: #856559;
  padding-top: 50px; }
  /* line 272, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace ul {
    padding: 0; }
  /* line 274, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace li {
    list-style: none; }
  /* line 276, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace a {
    color: #fff;
    line-height: 180%;
    font-size: 20px;
    border-bottom: 2px dotted transparent;
    -webkit-transition: 0.2s ease border-color;
    -ms-transition: 0.2s ease border-color;
    -moz-transition: 0.2s ease border-color;
    -o-transition: 0.2s ease border-color;
    transition: 0.2s ease border-color; }
  /* line 282, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace a:hover {
    color: #fff;
    border-bottom: 2px dotted #fff; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 288, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .postup {
    margin-left: 0; } }

@media screen and (max-width: 991px) {
  /* line 293, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek:nth-child(even) h1, .clanek:nth-child(even) p, .clanek:nth-child(even) .info {
    padding-left: 15px; }
  /* line 295, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .kroky, .napoveda {
    display: none; }
  /* line 298, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .fileupload-buttonbar .btn {
    font-size: 15px; } }

@media screen and (max-width: 730px) {
  /* line 303, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header .intro {
    display: none; }
  /* line 305, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header .vyvolat {
    display: block; }
    /* line 307, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    header .vyvolat .btn {
      margin-top: 10px;
      margin-bottom: 20px; }
  /* line 310, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header .uvodni-text {
    margin: 0; }
  /* line 313, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-navigace {
    display: block; }
    /* line 316, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace li {
      list-style: none;
      float: none;
      text-align: center;
      width: 100%; }
      /* line 322, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .mobilni-navigace li a {
        width: 100%;
        display: block;
        padding: 15px 0px;
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        border-bottom: 1px dotted #fff; }
    /* line 331, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace li:last-child a {
      border-bottom: 0px; }
    /* line 333, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace ul {
      padding: 0; }
  /* line 336, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .hlavni-navigace {
    display: none; }
  /* line 338, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-nav-tlacitko {
    font-size: 50px;
    color: #fff;
    right: 10px;
    top: 5px;
    position: absolute; }
  /* line 345, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-nav-tlacitko:hover {
    color:   #fff; }
  /* line 348, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header {
    min-height: 80px; } }

@media screen and (max-width: 670px) {
  /* line 353, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .fileupload-buttonbar .btn {
    font-size: 15px;
    min-width: 160px; } }

/*# sourceMappingURL=style.css.map */