@charset "UTF-8";
/* line 9, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
body {
  color: #372a25;
  background: #f4f3f4;
  font-family: "Open Sans";
  letter-spacing: 1px; }

/* line 15, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
a {
  color: #6f544a;
  outline: 0; }

/* line 19, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
a:hover {
  color: #372a25;
  text-decoration: none; }

/* line 23, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
a:focus {
  text-decoration: none; }

/* line 26, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
h1 {
  color: #856559;
  font-size: 33px;
  font-weight: 300; }

/* line 31, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
h2 {
  color: #856559;
  font-size: 23px; }

/* line 35, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.btn, button.btn {
  border: 2px solid #856559;
  color: #856559;
  font-weight: 300;
  margin-top: 10px;
  -webkit-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  background-color: transparent; }

/* line 43, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.btn:hover {
  background: #856559;
  color: #fff; }

/* line 47, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.login-block {
  width: 100%;
  height: 30px;
  text-align: right; }
  /* line 51, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .login-block ul {
    margin: 0; }
    /* line 53, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .login-block ul li {
      float: left;
      list-style: none; }
      /* line 56, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .login-block ul li a, .login-block ul li button {
        background: transparent;
        border: 0;
        display: block;
        line-height: 30px;
        padding: 0 5px;
        color: #fff;
        -webkit-transition: 0.2s ease background;
        -ms-transition: 0.2s ease background;
        -moz-transition: 0.2s ease background;
        -o-transition: 0.2s ease background;
        transition: 0.2s ease background; }
        /* line 64, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
        .login-block ul li a:hover, .login-block ul li button:hover {
          background: rgba(255, 255, 255, 0.2); }

/* line 67, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#home header {
  width: 100%;
  min-height: 500px; }
  /* line 71, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .uvodni-text {
    color: #fff;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    display: block; }
  /* line 80, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .vyvolat .btn {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: 0.2s ease background;
    -ms-transition: 0.2s ease background;
    -moz-transition: 0.2s ease background;
    -o-transition: 0.2s ease background;
    transition: 0.2s ease background; }
  /* line 92, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .vyvolat .btn:hover {
    background: rgba(255, 255, 255, 0.3); }

/* line 95, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
header {
  min-height: 80px;
  background: url("../img/cover.jpg") center; }
  /* line 99, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header .uvodni-text {
    display: none; }

/* line 102, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
nav {
  width: 100%;
  height: 80px; }
  /* line 106, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  nav .logo {
    height: 80px;
    line-height: 80px; }
  /* line 110, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  nav li {
    list-style: none;
    float: left; }
    /* line 114, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    nav li a {
      color: #fff;
      display: block;
      font-size: 20px;
      margin: 28px 0px 0px 20px;
      -webkit-transition: 0.2s ease border;
      -ms-transition: 0.2s ease border;
      -moz-transition: 0.2s ease border;
      -o-transition: 0.2s ease border;
      transition: 0.2s ease border;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: 2px solid transparent; }
    /* line 125, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    nav li a:hover, nav li a:focus {
      border-bottom: 2px solid #fff;
      color: #fff; }

/* line 129, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.hlavni-navigace {
  display: block; }

/* line 131, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.mobilni-navigace {
  display: none; }

/* line 134, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
main {
  margin: 30px 0; }

/* line 140, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .col-md-6 {
  padding: 0; }

/* line 142, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek h1, .clanek p {
  padding: 15px; }

/* line 144, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek p {
  line-height: 180%; }

/* line 146, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .info {
  padding: 3px 15px; }
  /* line 148, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .info span {
    margin-right: 8px; }
  /* line 150, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .info .fa {
    margin-right: 5px; }

/* line 154, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .uvodni-img {
  background-position: center;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px; }
  /* line 160, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .uvodni-img a {
    width: 100%;
    height: 400px;
    display: block; }

/* line 165, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .cist-dale {
  float: right;
  margin-right: 15px; }

/* line 170, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(odd) .fotografie {
  float: left; }

/* line 173, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(even) .fotografie {
  float: right; }

/* line 175, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(even) h1, .clanek:nth-child(even) p, .clanek:nth-child(even) .info {
  padding-left: 0px; }

/* line 178, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek .uvod-clanku {
  text-align: center; }
  /* line 180, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #clanek .uvod-clanku .fa {
    padding-right: 5px; }
  /* line 182, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #clanek .uvod-clanku span {
    padding-right: 8px; }

/* line 185, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek img {
  float: left;
  width: 50%;
  padding-right: 20px;
  padding-bottom: 20px; }

/* line 190, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek .obsah {
  margin-top: 20px; }

/* line 195, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
main#nahrani {
  margin-top: 10px; }

/* line 198, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.kroky {
  width: 100%;
  min-height: 40px;
  background: #856559;
  color: #fff; }
  /* line 204, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .kroky ul {
    padding: 0; }
    /* line 207, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .kroky ul li {
      list-style: none;
      float: left;
      display: block;
      line-height: 40px;
      padding: 0 10px;
      margin-right: 5px;
      cursor: default;
      -webkit-transition: 0.2s background;
      -ms-transition: 0.2s background;
      -moz-transition: 0.2s background;
      -o-transition: 0.2s background;
      transition: 0.2s background; }
      /* line 216, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li:hover {
        background: #6f544a; }
      /* line 219, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li a {
        background: #6f544a;
        color: #fff;
        line-height: 40px;
        display: block;
        padding: 0 10px;
        -webkit-transition: 0.2s background;
        -ms-transition: 0.2s background;
        -moz-transition: 0.2s background;
        -o-transition: 0.2s background;
        transition: 0.2s background; }
        /* line 226, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
        .kroky ul li a:hover {
          background: #372a25; }
      /* line 229, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li span {
        font-weight: bold; }
    /* line 232, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .kroky ul li.aktivni {
      padding: 0; }

/* line 236, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .fileupload-buttonbar .btn {
  line-height: 30px;
  width: 24.3%;
  font-size: 20px; }

/* line 241, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani table td {
  vertical-align: middle; }

/* line 243, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani table .btn {
  margin-top: 0;
  margin-bottom: 0; }
  /* line 246, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani table .btn.cancel {
    margin-right: 10px; }

/* line 248, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .btn {
  border-radius: 0; }

/* line 251, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .napoveda {
  margin-top: 10px;
  color: #fff; }
  /* line 254, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda.row {
    margin-left: 0px;
    margin-right: 0px; }
  /* line 258, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .formaty {
    min-height: 260px;
    background: #856559;
    margin-right: 5px;
    width: 49%;
    font-weight: 300; }
    /* line 264, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #nahrani .napoveda .formaty .ikona {
      max-height: 90px; }
  /* line 267, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .postup {
    min-height: 260px;
    background: #856559;
    margin-left: 5px; }
    /* line 272, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #nahrani .napoveda .postup a {
      color: #fff;
      text-decoration: underline; }
      /* line 275, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #nahrani .napoveda .postup a:hover {
        text-decoration: none; }
  /* line 277, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda h2 {
    font-weight: 500;
    font-size: 19px;
    color: #fff; }
  /* line 281, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda h3 {
    font-size: 17px;
    font-weight: 500; }

/* line 285, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .prihlasit {
  font-weight: bold;
  color: #fff;
  padding: 15px;
  background: #856559;
  margin: 10px 0px; }
  /* line 292, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .prihlasit .btn {
    background: #fff;
    color: #372a25;
    display: block;
    padding: 5px;
    font-size: 12px;
    margin-top: -5px; }

/* line 300, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.pokracovat.btn {
  margin-right: 18px; }

/* line 303, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.progress-bar-hneda {
  background-color: #856559 !important; }

/* line 307, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
footer {
  height: 200px;
  background: #856559;
  padding-top: 50px; }
  /* line 313, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace ul {
    padding: 0; }
  /* line 315, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace li {
    list-style: none; }
  /* line 317, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace a {
    color: #fff;
    line-height: 180%;
    font-size: 20px;
    border-bottom: 2px dotted transparent;
    -webkit-transition: 0.2s ease border-color;
    -ms-transition: 0.2s ease border-color;
    -moz-transition: 0.2s ease border-color;
    -o-transition: 0.2s ease border-color;
    transition: 0.2s ease border-color; }
  /* line 323, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace a:hover {
    color: #fff;
    border-bottom: 2px dotted #fff; }
  /* line 327, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .copyright p {
    text-align: right;
    color: #fff; }
    /* line 331, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    footer .copyright p a {
      color: #fff;
      text-decoration: underline; }
    /* line 335, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    footer .copyright p a:hover {
      color: #fff;
      text-decoration: none; }

/* line 341, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#parametry .fotky {
  margin: 20px 0px 50px 0px; }

/* line 344, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#parametry .fotka {
  min-height: 150px; }
  /* line 346, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka:nth-child(even) {
    background: #e8deda; }
  /* line 348, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka:nth-child(odd) {
    background: transparent; }
  /* line 351, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .miniatura {
    line-height: 150px; }
  /* line 354, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .row {
    margin-left: 0;
    margin-right: 0; }
  /* line 357, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .miniatura {
    text-align: center; }
  /* line 359, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka img {
    height: 110px;
    max-width: 170px; }
  /* line 363, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .parametr {
    height: 35px;
    margin-bottom: 10px; }
    /* line 367, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .parametr.pocet input {
      height: 35px;
      width: 100%;
      border: 0;
      -webkit-appearance: none;
      text-align: center; }
      /* line 373, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #parametry .fotka .parametr.pocet input:hover {
        -webkit-appearance: none; }
      /* line 375, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #parametry .fotka .parametr.pocet input:focus {
        outline: 0; }
    /* line 378, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .parametr select {
      width: 100%; }
  /* line 381, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .parametry-inputy {
    padding-top: 35px; }
  /* line 384, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .cena {
    line-height: 150px; }
  /* line 388, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-search {
    display: none; }
  /* line 391, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-container, #parametry .fotka .chosen-container.chosen-container-single.chosen-container-single-nosearch {
    width: 100% !important;
    border: 2px solid transparent; }
    /* line 395, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .chosen-container .chosen-single, #parametry .fotka .chosen-container .chosen-drop, #parametry .fotka .chosen-container.chosen-container-single.chosen-container-single-nosearch .chosen-single, #parametry .fotka .chosen-container.chosen-container-single.chosen-container-single-nosearch .chosen-drop {
      border-radius: 0;
      background: #fff !important;
      border: 0 !important; }
  /* line 400, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-container-single .chosen-single {
    height: 35px !important;
    line-height: 35px !important; }
  /* line 404, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-container-single .chosen-single div {
    top: 5px; }
  /* line 407, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-results {
    margin: 0;
    padding: 0; }
    /* line 410, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .chosen-results .highlighted {
      background: #856559; }
    /* line 412, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .chosen-results .active-result.result-selected {
      border-left: 2px solid #856559; }
    /* line 414, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .chosen-results li {
      padding: 0px 15px;
      list-style: none;
      line-height: 30px; }
  /* line 420, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .kvalita div {
    width: 100%;
    text-align: center;
    line-height: 35px; }
  /* line 425, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .kvalita .spatna {
    background: #d14233;
    color: #fff; }
  /* line 428, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .kvalita .prumerna {
    color: #fff;
    background: #d35400; }
  /* line 431, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .kvalita .vyborna {
    color: #fff;
    background: #2ecc71; }

/* line 436, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#parametry .celkem {
  height: 40px;
  margin: 10px 18px;
  text-align: right;
  font-weight: 700;
  font-size: 17px;
  color: #856559; }

/* line 448, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#kosik .kroky, #udaje .kroky, #odeslat .kroky {
  margin-bottom: 30px; }

/* line 450, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#kosik table, #udaje table, #odeslat table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 30px; }
  /* line 455, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table thead, #udaje table thead, #odeslat table thead {
    color: #856559;
    border-bottom: 2px solid #856559; }
    /* line 458, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #kosik table thead th, #udaje table thead th, #odeslat table thead th {
      text-align: center;
      padding: 10px 0; }
  /* line 464, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody td img, #udaje table tbody td img, #odeslat table tbody td img {
    max-height: 100px;
    max-width: 220px;
    padding: 5px 0; }
  /* line 468, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody td.cena, #udaje table tbody td.cena, #odeslat table tbody td.cena {
    font-weight: bold; }
  /* line 470, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody tr:nth-child(even), #udaje table tbody tr:nth-child(even), #odeslat table tbody tr:nth-child(even) {
    background: #e8deda; }
  /* line 472, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody tr:nth-child(odd), #udaje table tbody tr:nth-child(odd), #odeslat table tbody tr:nth-child(odd) {
    background: transparent; }
  /* line 475, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody tr:last-child, #udaje table tbody tr:last-child, #odeslat table tbody tr:last-child {
    border-bottom: 2px solid #856559; }
  /* line 478, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tfoot td, #udaje table tfoot td, #odeslat table tfoot td {
    padding: 10px 0; }
  /* line 480, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tfoot .celkem, #udaje table tfoot .celkem, #odeslat table tfoot .celkem {
    font-weight: bold; }
  /* line 483, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tfoot tr:last-child, #udaje table tfoot tr:last-child, #odeslat table tfoot tr:last-child {
    border-top: 1px dotted #856559; }
  /* line 485, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tfoot tr:first-child, #udaje table tfoot tr:first-child, #odeslat table tfoot tr:first-child {
    border-top: 3px solid #856559; }

/* line 491, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.udaje-blok .form-group .vedle {
  width: 49%; }

/* line 493, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.udaje-blok .form-group .vedle.leva {
  float: left;
  margin-right: 10px; }

/* line 497, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.udaje-blok input:focus {
  -webkit-box-shadow: 0 0 10x 0px #856559;
  box-shadow: 0 0 10px 0px #856559;
  border: 1px solid #856559; }

/* line 503, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#udaje .platba_doruceni {
  border-top: 1px dotted #856559; }

/* line 506, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#udaje .o_zakaznikovi {
  border-top: 1px dotted #856559;
  margin-top: 30px; }

/* line 513, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#odeslat .dekujeme {
  font-size: 25px;
  color: #8BC34A; }

/* line 517, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#odeslat .udaje-blok ul {
  padding: 0; }

/* line 519, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#odeslat .udaje-blok li {
  list-style: none; }

/* line 523, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .login_blok {
  background: #fff;
  width: 390px;
  height: 310px;
  position: fixed;
  font-family: 'Open Sans';
  list-style: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  /* line 534, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .login_blok li {
    list-style: none; }

/* line 538, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .blok_text {
  padding: 0 40px;
  position: relative; }
  /* line 542, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .blok_text h1 {
    font-size: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center; }
  /* line 548, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .blok_text p {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 25px; }

/* line 555, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login form input[type=text], #login form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #6f544a;
  color: #372a25;
  outline: none; }

/* line 566, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .button {
  border: none;
  display: block;
  background: #856559;
  text-transform: uppercase;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease background;
  -ms-transition: 0.3s ease background;
  -moz-transition: 0.3s ease background;
  -o-transition: 0.3s ease background;
  transition: 0.3s ease background;
  outline: 0;
  margin-top: 20px; }

/* line 582, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .button:hover {
  background: #6f544a; }

/* line 585, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .button:active {
  background: #6f544a; }

/* line 589, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login ::-webkit-input-placeholder {
  color: #856559; }

/* line 592, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login :-moz-placeholder {
  color: #856559; }

/* line 595, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login ::-moz-placeholder {
  color: #856559; }

/* line 598, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login :-ms-input-placeholder {
  color: #856559; }

/* line 601, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .err {
  color: #856559;
  text-align: center;
  margin: 5px auto;
  display: block;
  min-height: 16px;
  font-style: italic; }

@media (max-width: 500px) {
  /* line 611, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .login_blok {
    width: 100%;
    top: 145px; }
  /* line 615, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .login_formular {
    background: #856559;
    width: 100%;
    height: 100vh;
    margin: 0px !important;
    position: relative; }
  /* line 622, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .button {
    height: 50px;
    background: #856559; }
  /* line 627, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .button:hover, #login .button:active {
    background: #6f544a; }
  /* line 630, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .container {
    padding: 0; }
  /* line 633, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .blok_text h1 {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px; } }

/* line 641, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.registrace_blok {
  max-width: 450px;
  text-align: center;
  margin: 40px auto;
  padding: 0px;
  background: #fff; }
  /* line 648, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .registrace_blok .hlavicka {
    background: #856559;
    padding: 10px; }
    /* line 651, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .registrace_blok .hlavicka h1 {
      color: #fff;
      margin: 0; }
  /* line 654, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .registrace_blok .inputy {
    padding: 15px; }
  /* line 658, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .registrace_blok .form-group .vedle {
    width: 49%; }
  /* line 660, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .registrace_blok .form-group .vedle.leva {
    float: left;
    margin-right: 5px; }
  /* line 663, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .registrace_blok .form-group .cele {
    width: 99%; }
  /* line 665, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .registrace_blok .captcha {
    max-width: 300px;
    margin: 30px auto;
    display: block; }
  /* line 670, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .registrace_blok input:focus {
    -webkit-box-shadow: 0 0 10x 0px #856559;
    box-shadow: 0 0 10px 0px #856559;
    border: 1px solid #856559; }

/* line 678, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nastaveni_profilu .neni_prihlasen {
  margin: 30px auto;
  text-align: center; }
  /* line 681, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nastaveni_profilu .neni_prihlasen p {
    color: #856559;
    font-weight: 700;
    font-size: 18px; }

/* line 686, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nastaveni_profilu .prihlasen {
  margin: 30px auto;
  max-width: 500px; }
  /* line 689, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nastaveni_profilu .prihlasen h1 {
    text-align: center; }

/* line 693, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nastaveni_profilu .form-group .vedle {
  width: 49%; }

/* line 695, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nastaveni_profilu .form-group .vedle.leva {
  float: left;
  margin-right: 5px; }

/* line 698, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nastaveni_profilu .form-group .cele {
  width: 99%; }

/* line 700, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nastaveni_profilu .form-group select {
  width: 49%; }

/* line 703, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nastaveni_profilu button {
  display: block;
  margin: 30px 0;
  width: 100%; }

/* line 708, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nastaveni_profilu input:focus {
  -webkit-box-shadow: 0 0 10x 0px #856559;
  box-shadow: 0 0 10px 0px #856559;
  border: 1px solid #856559; }

/* line 713, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
th.st-head-row {
  text-align: center !important; }

@media screen and (max-width: 800px) {
  /* line 720, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .st-head-row {
    padding-bottom: 1em; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 724, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .postup {
    margin-left: 0; }
  /* line 727, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .udaje-blok .form-group .vedle.leva {
    float: left;
    margin-right: 8px; }
  /* line 731, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .udaje-blok .form-group .vedle {
    width: 49%; } }

@media screen and (max-width: 991px) {
  /* line 736, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek:nth-child(even) h1, .clanek:nth-child(even) p, .clanek:nth-child(even) .info {
    padding-left: 15px; }
  /* line 738, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .kroky, .napoveda {
    display: none; }
  /* line 741, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .fileupload-buttonbar .btn {
    font-size: 15px; }
  /* line 743, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .prihlasit {
    background: transparent; }
    /* line 745, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #nahrani .prihlasit span {
      display: none; }
    /* line 747, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #nahrani .prihlasit .btn {
      margin-right: 5px; } }

@media screen and (max-width: 730px) {
  /* line 752, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header {
    min-height: 100px; }
    /* line 754, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #home header .intro {
      display: none; }
    /* line 756, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #home header .vyvolat {
      display: block; }
      /* line 758, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #home header .vyvolat .btn {
        margin-top: 10px;
        margin-bottom: 20px; }
    /* line 761, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #home header .uvodni-text {
      margin: 0; }
  /* line 764, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-navigace {
    display: block; }
    /* line 767, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace li {
      list-style: none;
      float: none;
      text-align: center;
      width: 100%; }
      /* line 773, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .mobilni-navigace li a {
        width: 100%;
        display: block;
        padding: 15px 0px;
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        border-bottom: 1px dotted #fff; }
    /* line 782, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace li:last-child a {
      border-bottom: 0px; }
    /* line 784, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace ul {
      padding: 0; }
  /* line 787, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .hlavni-navigace {
    display: none; }
  /* line 789, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-nav-tlacitko {
    font-size: 50px;
    color: #fff;
    right: 10px;
    top: 35px;
    position: absolute; }
  /* line 796, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-nav-tlacitko:hover {
    color:   #fff; }
  /* line 799, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header {
    min-height: 80px; } }

@media screen and (max-width: 670px) {
  /* line 804, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .fileupload-buttonbar .btn {
    font-size: 15px;
    min-width: 160px; } }

@media screen and (max-width: 528px) {
  /* line 809, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .udaje-blok .form-group .vedle {
    width: 100%;
    margin-bottom: 15px; }
  /* line 813, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .vedle.leva {
    float: none;
    margin-right: 0px; } }

/*# sourceMappingURL=style.css.map */