@charset "UTF-8";
/* line 9, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
body {
  color: #372a25;
  background: #f4f3f4;
  font-family: "Open Sans";
  letter-spacing: 1px; }

/* line 15, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
a {
  color: #6f544a; }

/* line 18, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
a:hover {
  color: #372a25;
  text-decoration: none; }

/* line 22, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
h1 {
  color: #856559;
  font-size: 33px;
  font-weight: 300; }

/* line 27, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
h2 {
  color: #856559;
  font-size: 23px; }

/* line 31, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.btn, button.btn {
  border: 2px solid #856559;
  color: #856559;
  font-weight: 300;
  margin-top: 10px;
  -webkit-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  background-color: transparent; }

/* line 39, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.btn:hover {
  background: #856559;
  color: #fff; }

/* line 43, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.login-block {
  width: 100%;
  height: 30px;
  text-align: right; }
  /* line 47, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .login-block ul {
    margin: 0; }
    /* line 49, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .login-block ul li {
      float: left;
      list-style: none; }
      /* line 52, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .login-block ul li a, .login-block ul li button {
        background: transparent;
        border: 0;
        display: block;
        line-height: 30px;
        padding: 0 5px;
        color: #fff;
        -webkit-transition: 0.2s ease background;
        -ms-transition: 0.2s ease background;
        -moz-transition: 0.2s ease background;
        -o-transition: 0.2s ease background;
        transition: 0.2s ease background; }
        /* line 60, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
        .login-block ul li a:hover, .login-block ul li button:hover {
          background: rgba(255, 255, 255, 0.2); }

/* line 63, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#home header {
  width: 100%;
  min-height: 500px; }
  /* line 67, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .uvodni-text {
    color: #fff;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    display: block; }
  /* line 76, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .vyvolat .btn {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: 0.2s ease background;
    -ms-transition: 0.2s ease background;
    -moz-transition: 0.2s ease background;
    -o-transition: 0.2s ease background;
    transition: 0.2s ease background; }
  /* line 88, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header .vyvolat .btn:hover {
    background: rgba(255, 255, 255, 0.3); }

/* line 91, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
header {
  min-height: 80px;
  background: url("../img/cover.jpg") center; }
  /* line 95, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header .uvodni-text {
    display: none; }

/* line 98, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
nav {
  width: 100%;
  height: 80px; }
  /* line 102, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  nav .logo {
    height: 80px;
    line-height: 80px; }
  /* line 106, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  nav li {
    list-style: none;
    float: left; }
    /* line 110, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    nav li a {
      color: #fff;
      display: block;
      font-size: 20px;
      margin: 28px 0px 0px 20px;
      -webkit-transition: 0.2s ease border;
      -ms-transition: 0.2s ease border;
      -moz-transition: 0.2s ease border;
      -o-transition: 0.2s ease border;
      transition: 0.2s ease border;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      border-bottom: 2px solid transparent; }
    /* line 121, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    nav li a:hover {
      border-bottom: 2px solid #fff;
      color: #fff; }

/* line 125, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.hlavni-navigace {
  display: block; }

/* line 127, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.mobilni-navigace {
  display: none; }

/* line 130, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
main {
  margin: 30px 0; }

/* line 136, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .col-md-6 {
  padding: 0; }

/* line 138, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek h1, .clanek p {
  padding: 15px; }

/* line 140, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek p {
  line-height: 180%; }

/* line 142, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .info {
  padding: 3px 15px; }
  /* line 144, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .info span {
    margin-right: 8px; }
  /* line 146, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .info .fa {
    margin-right: 5px; }

/* line 150, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .uvodni-img {
  background-position: center;
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px; }
  /* line 156, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek .uvodni-img a {
    width: 100%;
    height: 400px;
    display: block; }

/* line 161, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek .cist-dale {
  float: right;
  margin-right: 15px; }

/* line 166, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(odd) .fotografie {
  float: left; }

/* line 169, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(even) .fotografie {
  float: right; }

/* line 171, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.clanek:nth-child(even) h1, .clanek:nth-child(even) p, .clanek:nth-child(even) .info {
  padding-left: 0px; }

/* line 174, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek .uvod-clanku {
  text-align: center; }
  /* line 176, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #clanek .uvod-clanku .fa {
    padding-right: 5px; }
  /* line 178, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #clanek .uvod-clanku span {
    padding-right: 8px; }

/* line 181, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek img {
  float: left;
  width: 50%;
  padding-right: 20px;
  padding-bottom: 20px; }

/* line 186, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#clanek .obsah {
  margin-top: 20px; }

/* line 191, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
main#nahrani {
  margin-top: 10px; }

/* line 194, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.kroky {
  width: 100%;
  min-height: 40px;
  background: #856559;
  color: #fff; }
  /* line 200, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .kroky ul {
    padding: 0; }
    /* line 203, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .kroky ul li {
      list-style: none;
      float: left;
      display: block;
      line-height: 40px;
      padding: 0 10px;
      margin-right: 5px;
      cursor: default;
      -webkit-transition: 0.2s background;
      -ms-transition: 0.2s background;
      -moz-transition: 0.2s background;
      -o-transition: 0.2s background;
      transition: 0.2s background; }
      /* line 212, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li:hover {
        background: #6f544a; }
      /* line 215, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li a {
        background: #6f544a;
        color: #fff;
        line-height: 40px;
        display: block;
        padding: 0 10px;
        -webkit-transition: 0.2s background;
        -ms-transition: 0.2s background;
        -moz-transition: 0.2s background;
        -o-transition: 0.2s background;
        transition: 0.2s background; }
        /* line 222, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
        .kroky ul li a:hover {
          background: #372a25; }
      /* line 225, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .kroky ul li span {
        font-weight: bold; }
    /* line 228, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .kroky ul li.aktivni {
      padding: 0; }

/* line 232, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .fileupload-buttonbar .btn {
  line-height: 30px;
  width: 24.3%;
  font-size: 20px; }

/* line 237, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani table td {
  vertical-align: middle; }

/* line 239, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani table .btn {
  margin-top: 0;
  margin-bottom: 0; }
  /* line 242, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani table .btn.cancel {
    margin-right: 10px; }

/* line 244, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .btn {
  border-radius: 0; }

/* line 247, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .napoveda {
  margin-top: 10px;
  color: #fff; }
  /* line 250, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda.row {
    margin-left: 0px;
    margin-right: 0px; }
  /* line 254, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .formaty {
    min-height: 260px;
    background: #856559;
    margin-right: 5px;
    width: 49%;
    font-weight: 300; }
    /* line 260, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #nahrani .napoveda .formaty .ikona {
      max-height: 90px; }
  /* line 263, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .postup {
    min-height: 260px;
    background: #856559;
    margin-left: 5px; }
    /* line 268, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #nahrani .napoveda .postup a {
      color: #fff;
      text-decoration: underline; }
      /* line 271, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #nahrani .napoveda .postup a:hover {
        text-decoration: none; }
  /* line 273, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda h2 {
    font-weight: 500;
    font-size: 19px;
    color: #fff; }
  /* line 277, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda h3 {
    font-size: 17px;
    font-weight: 500; }

/* line 281, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#nahrani .prihlasit {
  font-weight: bold;
  color: #fff;
  padding: 15px;
  background: #856559;
  margin: 10px 0px; }
  /* line 288, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .prihlasit .btn {
    background: #fff;
    color: #372a25;
    display: block;
    padding: 5px;
    font-size: 12px;
    margin-top: -5px; }

/* line 296, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.pokracovat.btn {
  margin-right: 18px; }

/* line 299, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.progress-bar-hneda {
  background-color: #856559 !important; }

/* line 303, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
footer {
  height: 200px;
  background: #856559;
  padding-top: 50px; }
  /* line 309, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace ul {
    padding: 0; }
  /* line 311, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace li {
    list-style: none; }
  /* line 313, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace a {
    color: #fff;
    line-height: 180%;
    font-size: 20px;
    border-bottom: 2px dotted transparent;
    -webkit-transition: 0.2s ease border-color;
    -ms-transition: 0.2s ease border-color;
    -moz-transition: 0.2s ease border-color;
    -o-transition: 0.2s ease border-color;
    transition: 0.2s ease border-color; }
  /* line 319, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  footer .foot-navigace a:hover {
    color: #fff;
    border-bottom: 2px dotted #fff; }

/* line 326, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#parametry .fotky {
  margin: 20px 0px 50px 0px; }

/* line 329, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#parametry .fotka {
  min-height: 150px; }
  /* line 331, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka:nth-child(even) {
    background: #e8deda; }
  /* line 333, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka:nth-child(odd) {
    background: transparent; }
  /* line 336, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .miniatura {
    line-height: 150px; }
  /* line 339, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .row {
    margin-left: 0;
    margin-right: 0; }
  /* line 342, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .miniatura {
    text-align: center; }
  /* line 344, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka img {
    height: 110px;
    max-width: 170px; }
  /* line 348, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .parametr {
    height: 35px;
    margin-bottom: 10px; }
    /* line 352, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .parametr.pocet input {
      height: 35px;
      border: 0;
      -webkit-appearance: none;
      text-align: center; }
      /* line 357, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #parametry .fotka .parametr.pocet input:hover {
        -webkit-appearance: none; }
      /* line 359, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #parametry .fotka .parametr.pocet input:focus {
        outline: 0; }
  /* line 362, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .parametry-inputy {
    padding-top: 35px; }
  /* line 365, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .cena {
    line-height: 150px; }
  /* line 369, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-search {
    display: none; }
  /* line 372, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-container, #parametry .fotka .chosen-container.chosen-container-single.chosen-container-single-nosearch {
    width: 100% !important; }
    /* line 375, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .chosen-container .chosen-single, #parametry .fotka .chosen-container .chosen-drop, #parametry .fotka .chosen-container.chosen-container-single.chosen-container-single-nosearch .chosen-single, #parametry .fotka .chosen-container.chosen-container-single.chosen-container-single-nosearch .chosen-drop {
      border-radius: 0;
      background: #fff !important;
      border: 0 !important; }
  /* line 380, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-container-single .chosen-single {
    height: 35px !important;
    line-height: 35px !important; }
  /* line 384, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-container-single .chosen-single div {
    top: 5px; }
  /* line 387, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #parametry .fotka .chosen-results {
    margin: 0;
    padding: 0; }
    /* line 390, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .chosen-results .highlighted {
      background: #856559; }
    /* line 392, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .chosen-results .active-result.result-selected {
      border-left: 2px solid #856559; }
    /* line 394, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #parametry .fotka .chosen-results li {
      padding: 0px 15px;
      list-style: none;
      line-height: 30px; }

/* line 399, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#parametry .celkem {
  height: 40px;
  margin: 10px 18px;
  text-align: right;
  font-weight: 700;
  font-size: 17px;
  color: #856559; }

/* line 411, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#kosik .kroky, #udaje .kroky, #odeslat .kroky {
  margin-bottom: 30px; }

/* line 413, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#kosik table, #udaje table, #odeslat table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 30px; }
  /* line 418, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table thead, #udaje table thead, #odeslat table thead {
    color: #856559;
    border-bottom: 2px solid #856559; }
    /* line 421, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #kosik table thead th, #udaje table thead th, #odeslat table thead th {
      text-align: center;
      padding: 10px 0; }
  /* line 427, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody td img, #udaje table tbody td img, #odeslat table tbody td img {
    max-height: 100px;
    max-width: 220px;
    padding: 5px 0; }
  /* line 431, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody td.cena, #udaje table tbody td.cena, #odeslat table tbody td.cena {
    font-weight: bold; }
  /* line 433, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody tr:nth-child(even), #udaje table tbody tr:nth-child(even), #odeslat table tbody tr:nth-child(even) {
    background: #e8deda; }
  /* line 435, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody tr:nth-child(odd), #udaje table tbody tr:nth-child(odd), #odeslat table tbody tr:nth-child(odd) {
    background: transparent; }
  /* line 438, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tbody tr:last-child, #udaje table tbody tr:last-child, #odeslat table tbody tr:last-child {
    border-bottom: 2px solid #856559; }
  /* line 441, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tfoot td, #udaje table tfoot td, #odeslat table tfoot td {
    padding: 10px 0; }
  /* line 443, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tfoot .celkem, #udaje table tfoot .celkem, #odeslat table tfoot .celkem {
    font-weight: bold; }
  /* line 446, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tfoot tr:last-child, #udaje table tfoot tr:last-child, #odeslat table tfoot tr:last-child {
    border-top: 1px dotted #856559; }
  /* line 448, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #kosik table tfoot tr:first-child, #udaje table tfoot tr:first-child, #odeslat table tfoot tr:first-child {
    border-top: 3px solid #856559; }

/* line 454, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.udaje-blok .form-group .vedle {
  width: 49%; }

/* line 456, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.udaje-blok .form-group .vedle.leva {
  float: left;
  margin-right: 10px; }

/* line 460, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
.udaje-blok input:focus {
  -webkit-box-shadow: 0 0 10x 0px #856559;
  box-shadow: 0 0 10px 0px #856559;
  border: 1px solid #856559; }

/* line 466, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#udaje .platba_doruceni {
  border-top: 1px dotted #856559; }

/* line 469, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#udaje .o_zakaznikovi {
  border-top: 1px dotted #856559;
  margin-top: 30px; }

/* line 476, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#odeslat .dekujeme {
  font-size: 25px;
  color: #8BC34A; }

/* line 480, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#odeslat .udaje-blok ul {
  padding: 0; }

/* line 482, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#odeslat .udaje-blok li {
  list-style: none; }

/* line 486, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .login_blok {
  background: #fff;
  width: 390px;
  height: 310px;
  position: fixed;
  font-family: 'Open Sans';
  list-style: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  /* line 497, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .login_blok li {
    list-style: none; }

/* line 501, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .blok_text {
  padding: 0 40px;
  position: relative; }
  /* line 505, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .blok_text h1 {
    font-size: 45px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center; }
  /* line 511, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .blok_text p {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 25px; }

/* line 518, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login form input[type=text], #login form input[type=password] {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 15px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #6f544a;
  color: #372a25;
  outline: none; }

/* line 529, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .button {
  border: none;
  display: block;
  background: #856559;
  text-transform: uppercase;
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease background;
  -ms-transition: 0.3s ease background;
  -moz-transition: 0.3s ease background;
  -o-transition: 0.3s ease background;
  transition: 0.3s ease background;
  outline: 0;
  margin-top: 20px; }

/* line 545, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .button:hover {
  background: #6f544a; }

/* line 548, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .button:active {
  background: #6f544a; }

/* line 552, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login ::-webkit-input-placeholder {
  color: #856559; }

/* line 555, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login :-moz-placeholder {
  color: #856559; }

/* line 558, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login ::-moz-placeholder {
  color: #856559; }

/* line 561, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login :-ms-input-placeholder {
  color: #856559; }

/* line 564, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
#login .err {
  color: #856559;
  text-align: center;
  margin: 5px auto;
  display: block;
  min-height: 16px;
  font-style: italic; }

@media (max-width: 500px) {
  /* line 574, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .login_blok {
    width: 100%;
    top: 145px; }
  /* line 578, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .login_formular {
    background: #856559;
    width: 100%;
    height: 100vh;
    margin: 0px !important;
    position: relative; }
  /* line 585, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .button {
    height: 50px;
    background: #856559; }
  /* line 590, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .button:hover, #login .button:active {
    background: #6f544a; }
  /* line 593, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .container {
    padding: 0; }
  /* line 596, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #login .blok_text h1 {
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
    margin-top: 0px; } }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* line 606, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .napoveda .postup {
    margin-left: 0; } }

@media screen and (max-width: 991px) {
  /* line 611, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .clanek:nth-child(even) h1, .clanek:nth-child(even) p, .clanek:nth-child(even) .info {
    padding-left: 15px; }
  /* line 613, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .kroky, .napoveda {
    display: none; }
  /* line 616, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .fileupload-buttonbar .btn {
    font-size: 15px; } }

@media screen and (max-width: 730px) {
  /* line 620, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #home header {
    min-height: 100px; }
    /* line 622, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #home header .intro {
      display: none; }
    /* line 624, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #home header .vyvolat {
      display: block; }
      /* line 626, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      #home header .vyvolat .btn {
        margin-top: 10px;
        margin-bottom: 20px; }
    /* line 629, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    #home header .uvodni-text {
      margin: 0; }
  /* line 632, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-navigace {
    display: block; }
    /* line 635, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace li {
      list-style: none;
      float: none;
      text-align: center;
      width: 100%; }
      /* line 641, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
      .mobilni-navigace li a {
        width: 100%;
        display: block;
        padding: 15px 0px;
        color: #fff;
        font-size: 22px;
        font-weight: 300;
        border-bottom: 1px dotted #fff; }
    /* line 650, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace li:last-child a {
      border-bottom: 0px; }
    /* line 652, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
    .mobilni-navigace ul {
      padding: 0; }
  /* line 655, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .hlavni-navigace {
    display: none; }
  /* line 657, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-nav-tlacitko {
    font-size: 50px;
    color: #fff;
    right: 10px;
    top: 35px;
    position: absolute; }
  /* line 664, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  .mobilni-nav-tlacitko:hover {
    color:   #fff; }
  /* line 667, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  header {
    min-height: 80px; } }

@media screen and (max-width: 670px) {
  /* line 672, /Applications/XAMPP/xamppfiles/htdocs/fotoex/css/style.sass */
  #nahrani .fileupload-buttonbar .btn {
    font-size: 15px;
    min-width: 160px; } }

/*# sourceMappingURL=style.css.map */