/* line 4, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
body {
  font-family: "Open Sans"; }

/* line 7, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.header {
  width: 100%;
  min-height: 90px;
  background: url(../img/header.jpg);
  -webkit-background-size: cover;
  -ms-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  /* line 13, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .header .row {
    margin: 0; }
  /* line 16, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .header .navigace {
    height: 90px;
    padding: 0;
    margin: 0; }
    /* line 21, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
    .header .navigace li {
      float: left;
      list-style: none; }
    /* line 25, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
    .header .navigace a {
      display: block;
      height: 95px;
      padding: 15px 30px 0px 30px;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      -webkit-transition: 0.2s ease background;
      -ms-transition: 0.2s ease background;
      -moz-transition: 0.2s ease background;
      -o-transition: 0.2s ease background;
      transition: 0.2s ease background; }
    /* line 34, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
    .header .navigace a:hover {
      background: #2196f3; }
    /* line 37, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
    .header .navigace .fa {
      font-size: 35px;
      display: block;
      text-align: center;
      margin-bottom: 5px; }

/* line 43, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.main {
  margin-top: 20px; }

/* line 46, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.btn a {
  background: #2196f3;
  color: #fff;
  padding: 10px;
  border-radius: 0;
  display: block;
  margin: 0; }

/* line 54, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.btn {
  padding: 0;
  border: 0;
  margin: 0px 3px; }

/* line 59, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.btn a:hover {
  background: #64b5f6;
  color: #fff;
  text-decoration: none; }

/* line 64, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.btn.novy a {
  padding: 20px;
  font-weight: 700; }

/* line 69, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
button.btn, .ulozit.btn {
  padding: 10px;
  border-radius: 0;
  border: 0;
  margin: 0; }

/* line 75, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
button.ulozit.btn, .ulozit.btn {
  background: #8bc34a;
  color: #fff;
  border: 0; }

/* line 79, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
button.ulozit.btn:hover, .ulozit.btn:hover {
  background: #9ccc65; }

/* line 82, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.zrusit.btn, .btn.zrusit a {
  background: #f44336;
  color: #fff; }

/* line 85, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.zrusit.btn:hover, .btn.zrusit a:hover {
  background: #ff5252; }

/* line 90, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.panel-box {
  margin-top: 30px;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-family: 'Open Sans'; }

/* line 101, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.panel {
  margin-bottom: 18p;
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  /* line 110, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .panel .stat-icon {
    font-size: 50px; }
  /* line 112, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .panel .nadpis {
    font-size: 33px;
    margin: 0; }

/* line 116, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.panel-box .panel-left {
  -moz-border-radius-topleft: 5px !important;
  -webkit-border-top-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  -moz-border-radius-topright: 5px !important;
  -webkit-border-top-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  float: none; }

/* line 125, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.panel-box .panel-right {
  -moz-border-radius-bottomleft: 5px !important;
  -webkit-border-bottom-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  -moz-border-radius-bottomright: 5px !important;
  -webkit-border-bottom-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background: #f8f8f8; }

/* line 134, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.panel-box .panel-item {
  padding: 30px 5px;
  vertical-align: top;
  border-radius: 0; }

/* line 139, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.bg-trzby {
  background-color: #8bc34a;
  color: white; }

/* line 143, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.bg-objednavky {
  background-color: #03a9f4;
  color: white; }

/* line 147, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.bg-uzivatele {
  background-color: #f44336;
  color: white; }

/* line 151, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.bg-clanky {
  background-color: #ffc107;
  color: white; }

/* line 157, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.main table {
  width: 100%; }
  /* line 160, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table tr {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #eaeaea; }
  /* line 164, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table td, .main table .table tbody tr td {
    height: 70px;
    vertical-align: middle; }
  /* line 168, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table tr:nth-child(even) {
    background: #fff; }
  /* line 170, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table tr:nth-child(odd) {
    background: #e3f2fd; }
  /* line 173, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table th {
    background: #2196f3;
    color: #fff;
    border-bottom: 4px solid #1976d2;
    text-align: center;
    height: 50px; }
  /* line 180, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa {
    font-size: 23px;
    margin-right: 5px; }
  /* line 184, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-eye {
    color: #1976d2; }
  /* line 186, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-eye:hover {
    color: #2196f3; }
  /* line 189, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-check {
    color: #4caf50; }
  /* line 191, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-check:hover {
    color: #1b5e20; }
  /* line 194, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-remove {
    color: #f44336; }
  /* line 196, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-remove:hover {
    color: #b71c1c; }
  /* line 199, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-save {
    color: #4caf50; }
  /* line 201, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-save:hover {
    color: #1b5e20; }
  /* line 204, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-reply {
    color: #ffc107; }
  /* line 206, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-reply:hover {
    color: #ff6f00; }
  /* line 209, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-edit {
    color: #2196f3; }
  /* line 211, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table .fa-edit:hover {
    color: #0d47a1; }
  /* line 214, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table tr.dokonceno {
    background: #c8e6c9;
    color: #616161; }
  /* line 217, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table tr.zruseno {
    background: #FBE9E7;
    color: #616161; }
  /* line 222, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
  .main table tfoot tr {
    background: #fff !important;
    border-top: 3px solid #1976D2;
    border-bottom: 0;
    color: #000;
    font-size: 15px;
    font-style: italic; }

/* line 231, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.filter-table input {
  border: 2px solid #2196f3;
  padding: 5px; }

/* line 234, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.filter-table input:focus {
  outline: 0;
  border: 2px solid #0d47a1; }

/* line 239, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel {
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px; }

/* line 248, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.datum {
  background: #40C4FF; }

/* line 250, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.pocet {
  background: #00B0FF; }

/* line 252, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.cena {
  background: #0091EA; }

/* line 255, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.stav.zpracovavani {
  background: #ffd54f; }

/* line 257, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.stav.platba {
  background: #ff8f00; }

/* line 259, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.stav.zruseno {
  background: #d84315; }

/* line 261, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.stav.tisk {
  background: #b388ff; }

/* line 263, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.stav.expedovano {
  background: #9c27b0; }

/* line 265, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.stav.odber {
  background: #aed581; }

/* line 267, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_panel.stav.dokonceno {
  background: #8bc34a; }

/* line 272, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_objednavky h2 {
  font-size: 18px;
  color: #2196f3; }

/* line 275, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_objednavky ul {
  list-style: none;
  padding: 0; }

/* line 281, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_objednavky .upravit_pole {
  background: transparent;
  border: 0;
  outline: 0;
  text-align: inherit;
  font-style: italic;
  font-weight: 500; }

/* line 289, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_objednavky .upravit_pole.vedle {
  width: 40%; }

/* line 295, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.ctverec.format a {
  width: 33.33%;
  height: 400px;
  float: left;
  background: #8bc34a;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 400px;
  font-size: 30px;
  display: block;
  -webkit-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all; }

/* line 308, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.ctverec.format a:hover {
  text-decoration: none;
  background: #aed581;
  font-size: 35px; }

/* line 314, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik a {
  width: 33.33%;
  height: 200px;
  float: left;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 200px;
  font-size: 25px;
  display: block;
  -webkit-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all; }

/* line 326, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik a:hover {
  text-decoration: none;
  font-size: 30px; }

/* line 332, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik.deska a {
  background: #303f9f; }

/* line 334, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik.deska a:hover {
  background: #5c6bc0; }

/* line 337, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik.material a {
  background: #d32f2f; }

/* line 339, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik.material a:hover {
  background: #ef5350; }

/* line 342, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik.fotopapir a {
  background: #5d4037; }

/* line 344, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik.fotopapir a:hover {
  background: #8d6e63; }

/* line 347, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik.typ a {
  background: #0097a7; }

/* line 349, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.obdelnik.typ a:hover {
  background: #26c6da; }

/* line 353, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.tabulka {
  margin-top: 15px; }

/* line 360, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.formaty table tbody tr:nth-child(even) {
  background: #fff; }

/* line 362, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.formaty table tbody tr:nth-child(odd) {
  background: #f1f8e9; }

/* line 365, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.formaty table thead th {
  background: #8bc34a;
  border-bottom: 4px solid #689f38; }

/* line 369, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.formaty table tfoot tr {
  border-top: 3px solid #689f38; }

/* line 372, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.formaty .btn a {
  background: #8bc34a; }

/* line 378, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.desky table tbody tr:nth-child(even) {
  background: #fff; }

/* line 380, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.desky table tbody tr:nth-child(odd) {
  background: #e8eaf6; }

/* line 383, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.desky table thead th {
  background: #3f51b5;
  border-bottom: 4px solid #303f9f; }

/* line 387, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.desky table tfoot tr {
  border-top: 3px solid #303f9f; }

/* line 390, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.desky .btn a {
  background: #3f51b5; }

/* line 396, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.materialy table tbody tr:nth-child(even) {
  background: #fff; }

/* line 398, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.materialy table tbody tr:nth-child(odd) {
  background: #ffebee; }

/* line 401, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.materialy table thead th {
  background: #f44336;
  border-bottom: 4px solid #d32f2f; }

/* line 405, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.materialy table tfoot tr {
  border-top: 3px solid #d32f2f; }

/* line 408, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.materialy .btn a {
  background: #f44336; }

/* line 414, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.fotopapiry table tbody tr:nth-child(even) {
  background: #fff; }

/* line 416, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.fotopapiry table tbody tr:nth-child(odd) {
  background: #efebe9; }

/* line 419, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.fotopapiry table thead th {
  background: #795548;
  border-bottom: 4px solid #5d4037; }

/* line 423, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.fotopapiry table tfoot tr {
  border-top: 3px solid #5d4037; }

/* line 426, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.fotopapiry .btn a {
  background: #795548; }

/* line 432, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.typy table tbody tr:nth-child(even) {
  background: #fff; }

/* line 434, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.typy table tbody tr:nth-child(odd) {
  background: #e0f7fa; }

/* line 437, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.typy table thead th {
  background: #00bcd4;
  border-bottom: 4px solid #0097a7; }

/* line 441, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.typy table tfoot tr {
  border-top: 3px solid #0097a7; }

/* line 444, /Applications/XAMPP/xamppfiles/htdocs/fotoex/spravce/css/admin.sass */
.detail_parametru.typy .btn a {
  background: #00bcd4; }

/*# sourceMappingURL=admin.css.map */